<div class="dismiss_area"></div>

<div class="preloader-wrapper big circular-preloader">
    <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<!--Side NavBar-->
<ul id="slide-out" class="sidenav left-aligned flow-text">
    <li>
        <div style="display: flex; align-items: center;" class="user-view">
            <% if (is_logged_in) { %>
                <i style="font-size: 40px; padding-right: 5px" class="fa fa-user-circle"></i><span><%=username%></span>
            <% } %>
        </div>
    </li>
    <% if (is_logged_in) { %>
        <li>
            <a href="/view/disconnect"><i class="fa fa-sign-out-alt"></i>Logout</a>
        </li>
        <li>
            <a href="/view/plans"><i class="fa fa-stream"></i>Plans List</a>
        </li>
        <li>
            <a href="/view/users/<%=username%>/profile/plans"><i class="fa fa-stream"></i>My Plans List</a>
        </li>
        <li>
            <a href="/view/users/<%=username%>/profile"><i class="fa fa-user-edit"></i>Edit Profile</a>
        </li>
    <% } else { %>
        <li>
            <a href="/view/login"><i class="fa fa-sign-in-alt"></i>Login</a>
        </li>
    <% } %>
    <% if (is_logged_in && access_level >= min_access_required.view_admin_panel) { %>
        <li>
            <a href="/view/admin-panel"><i class="fa fa-toolbox"></i>Admin Panel</a>
        </li>
    <% } %>
</ul>

<!--Top NavBar-->
<div id="page_sticky_header" class="sticky-action">
    <div class="row" ng-hide="version_edit_progress.is_active">
        <div style="position: fixed; margin-left: 1rem;" class="left" id="side-nav-button">
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <div class="menu-icon-2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>

        <% if (page == "versions") { %>
            <div class="left search-container sticky-action">
                <a ng-click="open_search('quick');" class="open-quick-search show-on-large hide-on-med-and-down">
                    <i ng-click="search(false, true);" class="quick-search-icn material-icons small">search</i><!--Quick Search-->
                    <i ng-click="open_search('full');" class="full-search-icn fab fa-searchengin small"></i><!--Advanced Search-->
                </a>
                <a ng-click="clear_and_close_search();" class="close-search-btn show-on-large hide-on-med-and-down">
                    <i class="close-search-icn material-icons small">close</i><!--Clear Search-->
                </a>
                <a ng-click="open_search('full');" class="show-on-medium-and-down hide-on-large-only open-full-search">
                    <i class="material-icons small">search</i>
                </a>
            </div>
        <% } %>

        <span class="hide-on-med-and-down">
            <% if (page == "view_plan") { %>
                <div class="col s10 offset-s1 center">
                    <a style="font-size: 20px;" href="/view/versions"><%=page_view_name%> Qualification Plan</a>
                </div>
                <div class="col s10 offset-s1 center" style="padding-top: 5px">
                    <!--<div class="blue" style="height: 21px;" ng-style="get_css_property('width', plan_progress + '%')"></div>
                    <span style="display: block; margin: -22px">
                        {{plan_progress}}%
                    </span>-->

                    <div class="progress-bar animate"
                         ng-class="[{'pb-orange': plan.progress.is_tasks_waiting_for_review},
                                    {'pb-red': plan.progress.is_tasks_declined}]">
                        <span ng-style="get_css_property('width', (plan.progress.value * 100) + '%')"></span>
                        <div>
                            {{plan.is_registered ? plan.progress.value * 100 + '%': "Watcher"}}
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="col s10 offset-s1 center">
                    <a style="font-size: 43px;" href="/view/plans">Qualification System - <%=page_view_name%></a>
                </div>
            <% } %>
        </span>
    </div>
    <div class="nav-content">
    </div>
</div>