<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>

<head>
    <% include ../partials/global/basic_head.ejs %>
    <script type="text/javascript" src="/js/angular_modules/custom_modules_wrappers/files.js"></script>
    <script type="text/javascript" src="/js/angular_modules/services/users.js"></script>
    <script type="text/javascript" src="/resources/js/ace/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/js/init/ace_initialize.js"></script>
    <script type="text/javascript" src="/js/angular_modules/directives/code_sections.js"></script>
    <script type="text/javascript" src="/js/angular_modules/controllers/pages/view_plan.js"></script>
    <title><%=plan_name%> Qualification Plan</title>
</head>

<body class="rtl" ng-controller="body_controller">
    <%- include('../partials/global/nav', {page: 'view_plan', page_view_name: plan_name});%>

    <div id="page_content">
        <br><br><br><br>

        <h3 class="col s12 center">
            {{topic_data.name || "System Message"}}
        </h3>

        <div class="col s12 hide-on-med-and-up show-on-small">
            <%- include('../partials/view_plan/task_meta_data') %>
        </div>
        <div class="hide-on-med-and-up show-on-small row"><div class="col s12"><div style="height: 5px;"></div></div></div>

        <div class="row" style="margin: 0 auto; display: flex;">
            <span ng-init="init_page('<%=username%>', '<%=plan_name%>');"></span>

            <div class="col s12 m8 l9">
                <h4 class="row">
                    {{::task_details.title}}
                </h4>

                <div class="row">
                    {{::task_details.details}}
                </div>

                <!--Task Related Images Files-->
                <div ng-if="(task_details.file_names | img_files_filter : false).length > 0" class="row">
                    <div id="gallery" class="justified-gallery">
                        <a lightgallery ng-repeat="filename in task_details.file_names | img_files_filter : false" href="{{'/uploads_dir/' + filename}}">
                            <img src="{{'/uploads_dir/' + filename}}">
                            <div class="gallery-poster">
                                <img src="/resources/images/lightgallery/zoom.png">
                            </div>
                        </a>
                    </div>
                </div>

                <!--Task Related Non-Images Files-->
                <div ng-if="(task_details.file_names | img_files_filter : true).length > 0" class="row">
                    <div ng-repeat="filename in task_details.file_names | img_files_filter : true" class="col s6">
                        <div ng-bind-html="::display_file(filename)"></div>
                    </div>
                </div>

                <!--Task Code Sections-->
                <div ng-if="task_details.code_sections.length > 0" class="row">
                    <div ng-repeat="code_section in task_details.code_sections" class="col s12">
                        <div id="code_section_{{$index}}" class='row'>
                            <div class='col s11 ace-editor' ace='restore_code_section' ng-model='task_details.code_sections[$index].content'></div>
                        </div>
                    </div>
                </div>

                <div ng-if="task_details.answer_type === 'TEXT_STRONG'" class="row">
                    <div class="input-field col s12">
                        <input id="text_strong_answer" ng-model="learner_answer" type="text" >
                        <label for="text_strong_answer">Answer</label>
                    </div>
                </div>

                <div ng-if="['TEXT_SOFT', 'TEXT_FREE'].includes(task_details.answer_type)" class="row">
                    <div class="input-field col s12">
                        <textarea id="text_answer" ng-model="learner_answer" class="validate materialize-textarea"></textarea>
                        <label for="text_answer">Answer</label>
                    </div>
                </div>

                <div ng-if="task_details.answer_type === 'FILES'" class="row">
                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Files</span>
                                <input id="files_answer" type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="task_details.answer_type === 'COMPILATION_RESULT'" class="row">
                    <div class="col s12">
                        <div class='ace-editor' ace='create_answer_code_section' ng-model='learner_answer'></div>
                    </div>
                    <div class="col s12">
                        <!--TODO compile answer-->
                        <a ng-click="" class="col s12 btn-small waves-effect waves-light">Compile</a>
                    </div>
                    <div class="col s12">
                        <!--TODO compilation result-->
                    </div>
                </div>

                <div ng-if="task_details.answer_type === 'BOOLEAN'" class="row">
                    <label class="col s12" ng-repeat="option in task_details.answer_options">
                        <input name="answer_group" ng-model="$parent.$parent.learner_answer" value="{{option}}" type="radio" />
                        <span>{{option}}</span>
                    </label>
                </div>

                <div ng-if="task_details.answer_type === 'MULTIPLE_CHOICES'" class="row">
                    <label class="col s12" ng-repeat="option in task_details.answer_options">
                        <input class="filled-in" value="{{option}}" ng-model="$parent.$parent.learner_answer[$index]" type="checkbox" />
                        <span>{{option}}</span>
                    </label>
                </div>

                <div ng-if="!task_details.is_system_task" class="row">
                    <div class="col <%=access_level >= min_access_required.skip_tasks ? "s6" : "s12"%>">
                        <a ng-click="submit_task(task_details, learner_answer);" class="col s12 btn-small waves-effect waves-light">Submit</a>
                    </div>
                    <% if (access_level >= min_access_required.skip_tasks) { %>
                        <div class="col s6">
                            <a ng-click="skip_task(task_details);" class="col s12 btn-small waves-effect waves-light">Skip</a>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="col offset-m1 m3 l2 hide-on-small-and-down">
                <%- include('../partials/view_plan/task_meta_data') %>
            </div>
        </div>
    </div>

    <% include ../partials/global/footer.html %>
    <% include ../partials/modals/task_submit_result.html %>
</body>
</html>